.projects {
	margin: 0 auto;
	width: calc(100% - 2px);
	max-width: 840px;
}
.projects hr {
	margin-top: 50px;
	border-top: .1px solid rgba(0, 0, 0, .3);
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}

.project {
	display: block;
	text-align: left;
	color: #1b1b1b;
	vertical-align: top;
	margin-bottom: 16px;
	padding: 16px;
	width: calc(100% - 32px);
	border-radius: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	text-decoration: none;
	transition-duration: 100ms;
}
.project .title {
	display: flex;
	justify-content: space-between;
}
.project p {
	font-weight: 200;
	text-align: right;
	font-size: smaller;
	line-height: 1.25em;
	opacity: .5;
}
.projects h2 {
	font-weight: 200;
	text-align: left;
}
.project h3 {
	font-weight: bold;
	text-align: left;
	font-size: smaller;
	line-height: 1.25em;
}
.project blockquote {
	font-size: 70%;
	margin-top: 0;
}

.project:hover {
	color: #00b4ff;
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4)-light;
	border-color: #00b4ff;
}

.button {
	text-align: center;
	margin: 32px auto;
	font-family: "OpenDyslexic";
	font-family: Roboto;
}

.blog div:last-child.button {
	margin-bottom: 0;
}

.button a {
	margin: 0 auto 16px;
	display: inline-block;
	color: #fff !important;
	background-color: #1b1b1b;
	font-weight: 700;
	font-size: 18px;
	border-radius: 5px;
	line-height: 48px;
	transition: background-color 0.15s ease;
	text-decoration: none !important;
	min-width: 200px;
	padding: 0 20px;
}

.button a:hover {
	background-color: #00b4ff;
}

.button-caption {
	margin-top: 8px;
	font-size: 12px;
}

.oldnew {
	text-align: center;
	word-spacing: 0;
}

.oldnew a {
	margin: 0 16px;
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 1.25px;
	line-height: 1.25em;
	color: #1b1b1b;
}

.oldnew a:hover {
	color: #00b4ff;
}

.oldnew:first-of-type {
	margin-bottom: 32px;
}

.oldnew:last-of-type {
	margin-top: 32px;
}

@supports (grid-area: auto) {
	.blog-posts {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-bottom: 16px;
	}
	.blog-posts .post {
		margin: 16px;
	}
}

.important {
	font-size: 14px;
}

.important a {
	text-decoration: underline;
}

.signature-list {
	list-style: none;
}
