html { height: 100%; }
body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    background: linear-gradient(180deg, #dff3f8 0%, #d9f5f5 100%);
    justify-content: space-around;
    color: #2f2c48;
    font-size: 20px;
}

.itchio-logo {
    background-color: #E8AA14;
    left: 0;
    position: fixed;
    top: 0;
    border-radius: 28px;
    padding-left: 30px;
    padding-top: 95px;
    padding-right: 5px;
    padding-bottom: 10px;
    left: -28px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
    z-index: 6;
}
.itchio-logo button {
    background: transparent;
    border: 0;
    cursor: pointer;
    transition-duration: .1s;
}
.itchio-logo button:hover {
    transform: scale(1.05);
}

.games {
    background-color: #E8AA14;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
    margin-bottom: -26px;
}

.game {
    background: whitesmoke;
    border-radius: 28px;
    margin-bottom: 28px;
    max-width: 85vw;
    margin-left: 16px;
    margin-right: 16px;
    text-align: justify;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.game p {
    font-size: 20px;
}
.game aside img {
    border-radius: 28px;
}

.game aside {
    margin-bottom: -6px;
}

@media screen and (min-width: 920px){
    .game {
        display: flex;
    }
    .game aside {
        padding-right: 16px;
    }
}
@media screen and (max-width: 919px){
    .game aside img {
        width: 100%;
        display: block;
        object-fit: contain;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 378px;
        max-height: 300px;
        border-radius: 28px;
    }
}

.learn-more-button {
    border: 0;
    background: #166EC0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #125a9c;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    cursor: pointer;
    transition-duration: 100ms;
    font-size: 20px;
}
.learn-more-button:hover {
    background: #2F2C48;
    border-bottom: 4px solid #1e1d2b;
}