---
title: "Games"
permalink: /games/
description: "A list of all my games that I've done."
---

<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}

		<link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="main">
			<h1 style="line-height: 2em;">Games</h1>
			<div id="projects">
				<hr>
				{% assign games = site.games | reverse %}
				{% for game in games %}
					{% include projects/detailedProject.html %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
