---
title: "Gerard Gascón"
description: "Hi, I'm Gerard! A young self-taught game developer and this is my personal portfolio website."
---

<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}

		<link rel="stylesheet" href="{{ "/assets/css/title.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="scrolling-image"></div>
		<div class="main">
			<h1>Gerard Gascón</h1>
			<h2>Developer Portfolio</h2>
			<div class="icon">
				<a class="resume" href="/about-me/">
					<p>See What I Do</p>
					<i class="fa-solid fa-chevron-down"></i>
				</a>
			</div>
		</div>

		<script src="/assets/js/title.js"></script>
	</body>
</html>
