html { height: 100%; }
body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    background: linear-gradient(180deg, #dff3f8 0%, #d9f5f5 100%);
    justify-content: space-around;
    color: #2f2c48;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    background: #E8AA14;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    position: fixed;
}
header .logo {
    float: left;
    display: flex;
}
header .logo button {
    background-color: transparent;
    outline: 0;
    border: 0;
    margin-top: 1vh;
    cursor: pointer;
}
header nav {
    float: right;
    margin-right: 3vw;
    padding-top: 2.25vh;
}
header nav button {
    border: 0;
    background: #2F2C48;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #1e1d2b;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
    transition-duration: .1s;
}
header nav button:hover {
    border: 0;
    background: #166EC0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #125a9c;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
    transform: scale(1.05);
}

.heading {
    line-height: 1em;
    overflow: hidden;
    background-color: #E8AA14;
    border-radius: 2.5vh;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}
.heading iframe {
    float: left;
}

.games {
    background-color: rgb(22, 110, 192);
    border-radius: 2.5vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}

.game {
    background: whitesmoke;
    display: flex;
    border-radius: 2.5vh;
    margin-bottom: 2.5vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}
.game aside {
    padding-right: 16px;
}
.game aside img {
    border-radius: 2.5vh;
}

.learn-more-button {
    border: 0;
    background: #166EC0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #125a9c;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    cursor: pointer;
    transition-duration: 100ms;
}
.learn-more-button:hover {
    transform: scale(1.025);
    background: #2F2C48;
    border-bottom: 4px solid #1e1d2b;
}
.more-games-button {
    border: 0;
    background: #2F2C48;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #1e1d2b;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.links {
    overflow: hidden;
    background-color: #E8AA14;
    position: block;
    padding-top: 5px;
    padding-bottom: 2.5px;
    margin-top: 2.5vh;
    border-radius: 2.5vh;
    width: 100%;
}
.link-button {
    appearance: none;
    font-family: inherit;
    outline: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition-duration: .1s;
}
.link-button:hover {
    transform: scale(1.1, 1.1);
}

.projects {
    background-color: #E8AA14;
    border-radius: 2.5vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}

.project {
    background: white;
    display: flex;
    border-radius: 2.5vh;
    margin-bottom: 2.5vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}
.project aside {
    padding-right: 16px;
}
.project aside img {
    border-radius: 2.5vh;
}