---
title: "Projects"
permalink: /projects/
description: "A curated list of some of my games and projects that I've done.
Learn each and every project I've released over the years and what I am working on now."
---

<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}

		<link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="main">
			<h1 style="line-height: 2em;">Projects</h1>
			<div id="projects">
				<hr>
				<button class="project-category">🎮 Games</button>
				<p class="summary">
					Complete games that I've been part of.
				</p>
				<div class="project-content">
					{% assign games = site.games | reverse %}
					{% for game in games %}
						{% include projects/detailedProject.html %}
					{% endfor %}
				</div>

				<hr>
				<button class="project-category">🔬 Researches</button>
				<p class="summary">
					Interesting topics that I've investigated and written about.
				</p>
				<div class="project-content">
					{% assign researches = site.researches | reverse %}
					{% for game in researches %}
						{% include projects/detailedProject.html %}
					{% endfor %}
				</div>

				<hr>
				<button class="project-category">⚙️ Tools</button>
				<p class="summary">
					Tools that I have developed mainly for myself, but also for anyone to use.
				</p>
				<div class="project-content">
					{% assign tools = site.tools | reverse %}
					{% for game in tools %}
						{% include projects/detailedProject.html %}
					{% endfor %}
				</div>

				<hr>
				<button class="project-category">🍯 Game Jams</button>
				<p class="summary">
					A list of all game jam projects that I've developed over the years.
				</p>
				<div class="project-content">
					{% assign jams = site.jams | reverse %}
					{% for game in jams %}
						{% include projects/detailedProject.html %}
					{% endfor %}
				</div>

				<hr>
				<button class="project-category">🧑‍🏫 Talks</button>
				<p class="summary">
					Talks that I've given at some point.
				</p>
				<div class="project-content">
					{% assign talks = site.talks | reverse %}
					{% for game in talks %}
						{% include projects/detailedProject.html %}
					{% endfor %}
				</div>

				<hr>
				<button class="project-category">❓ Other</button>
				<p class="summary">
					Small but interesting projects that I've done in my free time.
				</p>
				<div class="project-content">
					{% assign other = site.other | reverse %}
					{% for game in other %}
						{% include projects/detailedOther.html %}
					{% endfor %}
				</div>
			</div>
		</div>

		<script>
			let collapsible = document.getElementsByClassName("project-category");
			for (let i = 0; i < collapsible.length; i++) {
				collapsible[i].addEventListener("click", function (){
					this.classList.toggle("active");
					let content = this.nextElementSibling.nextElementSibling;
					if (content.style.maxHeight){
						content.style.maxHeight = null;
					} else {
						content.style.maxHeight = content.scrollHeight + "px";
					}
				});
			}
		</script>
	</body>
</html>
