---
title: "All Projects"
permalink: /projects/all/
description: "A collection of all my games and projects that I've done.
Learn each and every project I've released over the years and what I am working on now."
---

<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/projects.all.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="main">
			<h1 style="line-height: 2em;">All Projects</h1>
			<div id="projects">
				<hr>
				<a class="project-category" href="/games"><h2>Games</h2></a>
				{% assign games = site.games | reverse %}
				{% for game in games %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<a class="project-category" href="/researches"><h2>Researches</h2></a>
				{% assign researches = site.researches | reverse %}
				{% for game in researches %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<a class="project-category" href="/talks"><h2>Talks</h2></a>
				{% assign talks = site.talks | reverse %}
				{% for game in talks %}
					{% include projects/simplifiedTalk.html %}
				{% endfor %}

				<hr>
				<a class="project-category" href="/tools"><h2>Development Tools</h2></a>
				{% assign tools = site.tools | reverse %}
				{% for game in tools %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<a class="project-category" href="/jams"><h2>Game Jams</h2></a>
				{% assign jams = site.jams | reverse %}
				{% for game in jams %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<h2>Other</h2>
				{% assign other = site.other | reverse %}
				{% for game in other %}
					{% include projects/simplifiedOther.html %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
