<a class="project" href="{{game.url}}" ,="">
    <div class="image-container">
        <img src="/images/projects/{{ " {{game.image}}" | relative_url }}" />
        <div class="overlay-icon">{{game.emoji}}</div>
    </div>
    <div class="content">
        <div class="title">
            <h3>{{ game.title }}</h3>
        </div>
        <ul class="tags">
            {% for tag in game.tags %}
                <li style="color: {{ site.project_labels[tag].text_color }}; background-color: {{ site.project_labels[tag].tag_color }}">
                    {{ site.project_labels[tag].name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</a>