#projects {
	margin: 0 auto;
	width: calc(100% - 2px);
	max-width: 1280px;
}
#projects hr {
	border-top: .1px solid rgba(0, 0, 0, .3);
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}

.summary {
	font-weight: 200;
	font-size: 80%;
	margin-top: -25px;
	color: #5e5e5e;
}

.project {
	display: table;
	text-align: left;
	color: #1b1b1b;
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	transition-duration: var(--transition-duration);

	margin-left: 25px;
	text-indent: -25px;
}

.main hr:not(:first-child) {
	margin-top: 20px;
}
.main hr:first-child {
	margin-top: 50px;
}

.project:last-child {
	margin-bottom: 2em;
}

#projects h2 {
	font-weight: 500;
	font-size: 30px;
	text-align: left;
	margin-top: 20px;
}
.project .content h3 {
	font-weight: bold;
	text-align: left;
	font-size: smaller;
	line-height: 1.25em;
}
.project .content blockquote {
	font-size: 70%;
	margin-top: 0;
}

.project:hover {
	color: var(--highlight-color);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4)-light;
	border-color: var(--highlight-color);
}