<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="google-site-verification" content="vMWmMkr0_Orca-dsG5Tc4TeQcalw6UyLQbNJLWCwgPg" />
<meta name="description" content="{{page.description}}">

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:image" content="{{site.url}}{{page.banner}}" />
<meta property="og:description" content="{{page.description}}" />
{% if page.isMain == false %}
<meta property="og:site_name" content="{{site.title}}" />
{% endif %}

<link rel="canonical" href="{{site.url}}{{page.url}}" />

<title>{{ page.title }} &ndash; {{ site.title }}</title>
<link rel="stylesheet" href="{{ "/assets/css/global.css" | relative_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/navbar.css" | relative_url }}" />

<link rel="icon" href="{{ "/assets/images/icons/favicon.ico" }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/icons/favicon-16x16.png" }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/icons/favicon-32x32.png" }}">
<link rel="apple-touch-icon" href="{{ "/assets/images/icons/apple-touch-icon.png" }}">

<script
    src="https://kit.fontawesome.com/28575038bf.js"
    crossorigin="anonymous"
></script>
<script src="{{ "/assets/js/darkMode.js" | relative_url }}"></script>
<script>
    if(window.location.href.includes('?')) window.location = window.location.href.split("?")[0];
    if(window.location.href.includes('#')) window.location = window.location.href.split("#")[0];
</script>