* {
    box-sizing: border-box;
}

html { height: 100%; }
body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    background: linear-gradient(180deg, #dff3f8 0%, #d9f5f5 100%);
    justify-content: space-around;
    color: #2f2c48;
    display: flex;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    background: #E8AA14;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 10;
}
.header .logo {
    float: left;
    display: flex;
}
.header .logo button {
    background-color: transparent;
    outline: 0;
    border: 0;
    margin-top: 1vh;
    cursor: pointer;
    transition-duration: 100ms;
}
.header .logo button:hover {
    transform: scale(1.1);
}
.header nav {
    float: right;
    margin-right: 3vw;
    padding-top: 2.25vh;
}
.header nav button {
    border: 0;
    background: #2F2C48;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #1e1d2b;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
    
    transition-duration: .1s;
}
.header nav button:hover {
    border: 0;
    background: #166EC0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #125a9c;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    padding: 6px 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
    transform: scale(1.05);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity 500ms;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
#popupBody {
    width: 46%;
    padding: 4%;
    border-radius: 15px;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    position: relative;
    margin: 20% auto;
    margin-top: 20vh;
    transition: all 200ms;
}
#close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #f00;
    transition: all 200ms;
}

.instructions {
    font-size: .8em;
    color: #aaa;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

#color-count {
    font-size: 1em;
    color: rgb(107, 107, 107);
    margin: 0;
}

.card {
    margin-top: 9vh;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    padding-bottom: 16px;
}
.card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    padding: 16px;
}
.card header h1 {
    margin: 0;
}
.card header .button-as-link {
    margin-right: 1em;
}
.card aside {
    padding-left: 16px;
    padding-right: 16px;
}

.dropdown-button {
    border: 0;
    background: #4e84fa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #3166c7;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    cursor: pointer;
}
.dropdown-button:hover, .dropdown-button:focus {
    background-color: #3a75e2;
    border-bottom: 4px solid #3166c7;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 6px;
}
.show {
    display: block;
}

.card_body {
    display: flex;
}

.card_right-column {
    padding-right: 16px;
}

.canvas {
    background: #f4f8f9;
}
.invisible-canvas {
    display: none;
}

.tileset-container {
    position: relative;
}

.tileset-container_selection {
    position: absolute;
    outline: solid cyan 2px;
    outline-offset: -2px;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.tileset-container_selection-hover {
    position: absolute;
    outline: solid #00ffff80 2px;
    outline-offset: -2px;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.canvas-position {
    position: relative;
}
.draw-tile_position {
    position: absolute;
    background-color: #ffffff00;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.layers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card .card_body aside button {
    appearance: none;
    font-family: inherit;
    outline: 0;
    background: transparent;
    border: 0;
    font-size: 16px;
    padding: 0px 0;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.card .card_body button {
    appearance: none;
    font-family: inherit;
    outline: 0;
    background: transparent;
    border: 0;
    padding: 4px 0;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.card .card_body button:hover {
    font-weight: bold;
    color: #0884f1;
}

.button-as-link {
    appearance: none;
    text-decoration: underline;
    background: transparent;
    color: #7f808e;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.primary-button {
    border: 0;
    background: #4e84fa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #3166c7;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    cursor: pointer;
}

label {
    text-transform: uppercase;
    margin-bottom: .5em;
    font-weight: bold;
    display: block;
}