@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
	--highlight-color: #00b4ff;
    --transition-duration: 0.35s;
    --header-height: 3rem;
}

body {
	font-family: 'Readex Pro', sans-serif;
	margin: 0px;
	overflow-x: hidden;
	width: 100vw;

	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

.button {
    text-align: center;
    margin: 32px auto;
}
.button a {
    margin: 0 auto 16px;
    display: inline-block;
    color: #000;
	border: 1px solid #000;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 48px;
	transition-duration: var(--transition-duration);
    text-decoration: none !important;
    min-width: 200px;
    padding: 0 20px;
}
.button a:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
}

.main h1 {
	font-weight: 200;
	text-align: center;
}
.main h3 {
	font-weight: 200;
	text-align: center;
}