@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html[data-mode=light], html:not([data-mode]){
	--highlight-color: #00b4ff;
    --transition-duration: 0.35s;
    --header-height: 3rem;

	--text-color: black;
	--default-box-shadow: rgb(104, 104, 104, 0.05) 0 2px 6px 0, rgba(211, 209, 209, 0.15) 0 0 0 1px;
	--hr-color: rgba(0, 0, 0, .3);
	--background-color: white;

	--sidenav-color: #f6f8fa;
	--sidenav-border-color: #efefef;
	--sidenav-link-color: #5e5e5e;
	--sidenav-button-background: #e9eff5;
	--sidenav-button-color: #545454;
	--sidenav-width: 256px;

	--project-color: #1b1b1b;
	--project-hover-overlay: rgba(0, 0, 0, 0.035);
	--project-background-color: white;
}

html[data-mode=dark] {
    --highlight-color: #0077cc;
    --transition-duration: 0.35s;
    --header-height: 3rem;

    --text-color: #cccccc;
    --default-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
    --hr-color: rgba(255, 255, 255, 0.3);
	--background-color: #1b1b1b;

    --sidenav-color: #1e1e1e;
    --sidenav-border-color: #1f1f1f;
    --sidenav-link-color: #b0b0b0;
    --sidenav-button-background: #333;
    --sidenav-button-color: #b0b0b0;
    --sidenav-width: 256px;

    --project-color: #cccccc;
    --project-hover-overlay: rgba(255, 255, 255, 0.035);
	--project-background-color: #262626;

	color: var(--text-color);
	background-color: var(--background-color);
}

body {
	font-family: 'Readex Pro', sans-serif;
	margin: 0px;
	overflow-x: hidden;
	width: 100vw;

	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

.main h1 {
	font-weight: 200;
	text-align: center;
}
.main h3 {
	font-weight: 200;
	text-align: center;
}