#projects {
	margin: 0 auto;
	width: calc(100% - 2px);
	max-width: 1280px;
}
#projects hr {
	border-top: .1px solid var(--hr-color);
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}

.summary {
	font-weight: 200;
	font-size: 80%;
	margin-top: -25px;
	color: var(--sidenav-link-color);
}

.project {
	display: table;
	text-align: left;
	color: var(--project-color);
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	transition-duration: var(--transition-duration);

	margin-left: 35px;
	text-indent: -35px;
}

.project i {
	font-weight: 200;
}

.main hr:not(:first-child) {
	margin-top: 20px;
}
.main hr:first-child {
	margin-top: 50px;
}

.project:last-child {
	margin-bottom: 2em;
}

#projects h2 {
	font-weight: 500;
	font-size: 30px;
	text-align: left;
	margin-top: 20px;
}
.project .content h3 {
	font-weight: bold;
	text-align: left;
	font-size: smaller;
	line-height: 1.25em;
}
.project .content blockquote {
	font-size: 70%;
	margin-top: 0;
}

.project:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
}

.project-category {
	text-decoration: none;
	color: inherit;
	transition-duration: var(--transition-duration);
}
.project-category:hover {
	color: var(--highlight-color);
}