<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}

		<link rel="stylesheet" href="{{ "/assets/css/title.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<img class="banner" src="{{ "/assets/images/banner.png" | relative_url }}" />
		<div class="main">
			<h1 class="pc">Hi, I'm Gerard!</h1>
			<h1 class="mobile">Hi, I'm Gerard!</h1>

			<div style="margin-top: 75px;" class="button">
				<a class="resume" href="/about-me/">Get To Know Me</a>
			</div>
		</div>
	</body>
</html>
