<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}

		<link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="main">
			<h1 style="line-height: 2em;">Projects</h1>
			<div id="projects">
				<hr>
				<h2>Games</h2>
				<p class="summary">
					Complete games that I've been part of.
				</p>
				{% assign games = site.games | reverse %}
				{% for game in games %}
					{% if game.remarkable == true %}
						{% include projects/detailedProject.html %}
					{% endif %}
				{% endfor %}

				<hr>
				<h2>Researches</h2>
				<p class="summary">
					Interesting topics that I've investigated and written about.
				</p>
				{% assign researches = site.researches | reverse %}
				{% for game in researches %}
					{% if game.remarkable == true %}
						{% include projects/detailedProject.html %}
					{% endif %}
				{% endfor %}

				<hr>
				<h2>Development Tools</h2>
				<p class="summary">
					Tools that I have developed mainly for myself, but also for anyone to use.
				</p>
				{% assign tools = site.tools | reverse %}
				{% for game in tools %}
					{% if game.remarkable == true %}
						{% include projects/detailedProject.html %}
					{% endif %}
				{% endfor %}

				<hr>
				<h2>Game Jams</h2>
				<p class="summary">
					A list of some game jam projects that I've developed over the years.
				</p>
				{% assign jams = site.jams | reverse %}
				{% for game in jams %}
					{% if game.remarkable == true %}
						{% include projects/detailedProject.html %}
					{% endif %}
				{% endfor %}

				<hr>
				<h2>But Wait, There's More!</h2>
				<a class="more" href="all/" ,="">See all projects <i class="fa-solid fa-angle-right"></i></a>
			</div>
		</div>
	</body>
</html>
