<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ "/assets/css/projects.all.css" | relative_url }}" />
	</head>
	<body>
		{% include sidenav.html %}

		<div class="main">
			<h1 style="line-height: 2em;">All Projects</h1>
			<div id="projects">
				<hr>
				<h2>Games</h2>
				{% assign games = site.games | reverse %}
				{% for game in games %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<h2>Researches</h2>
				{% assign researches = site.researches | reverse %}
				{% for game in researches %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<h2>Talks & Interviews</h2>
				{% assign talks = site.talks | reverse %}
				{% for game in talks %}
					{% include projects/simplifiedTalk.html %}
				{% endfor %}

				<hr>
				<h2>Development Tools</h2>
				{% assign tools = site.tools | reverse %}
				{% for game in tools %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<h2>Game Jams</h2>
				{% assign jams = site.jams | reverse %}
				{% for game in jams %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}

				<hr>
				<h2>Other</h2>
				{% assign other = site.other | reverse %}
				{% for game in other %}
					{% include projects/simplifiedProject.html %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
